<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <div class="main-page">
        <div class="nav-container">
            <div class="logo" mat-button="" routerlink="/movies">
                myMovies
            </div>
            <div style="justify-self: flex-end">
                <button class="nav-button" mat-button="" routerlink="/profile">Profile</button> <button class="nav-button" mat-button="" routerlink="/movies">All Movies</button>
            </div>
        </div>
        <div style="padding: 50px; text-align: center">
            <h1>Welcome to myFlix!</h1><button color="primary" mat-raised-button="" style="margin-right: 10px">Sign Up</button> <button color="primary" mat-raised-button="" style="margin-right: 10px">Login</button>
        </div>
    </div>
</body>

</html>