<app-navigation></app-navigation>

<div style="display: flex">

    <!-- use ngFor directive to display all movies -->
    <!-- 'movies' refers to the variable declared in the component file -->
    <mat-card *ngFor="let movie of movies; let i=index;">
        <mat-dialog-content>
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle><img src={{movie.ImagePath}} alt={{movie.Title}}/></mat-card-subtitle>
        </mat-dialog-content>

        <mat-card-actions>
            <!--  mat-button color="primary" -->
            <button mat-button color="primary" (click)="openGenreViewDialog(movie.Genre.Name, movie.Genre.Description)">
        Genre
      </button>
            <!--  mat-button color="primary" -->
            <button mat-button color="primary" (click)="openDirectorViewDialog(movie.Director.Name, movie.Director.Bio, movie.Director.ImagePath)">
        Director
      </button>
            <!--  mat-button color="primary" -->
            <button mat-button color="primary" (click)="openMovieDescriptionViewDialog(movie.Description)">
        Synopsis
      </button>
            <!--  mat-button color="primary" -->
            <button mat-button color="primary" (click)="addToFavorites(movie._id)">
        Favorite
      </button>

        </mat-card-actions>
    </mat-card>
</div>