.mat-card {
    margin: 10px;
    padding: 0px !important;
}

.mat-card-actions {
    text-align: center;
    display: flex;
    padding-bottom: 50px;
}

.mat-card-title {
    text-align: center;
    margin: 0px;
    padding: 20px;
}

.mat-card-subtitle {
    margin: 40px;
    display: flex;
    align-content: center;
    height: fit-content;
    width: fit-content;
}