<div class="nav-container">
    <div class="logo" routerLink="/movies">
        myMovies
    </div>

    <div>
        <!-- All Movies/Home Link -->
        <button class="nav-button" routerLink='/movies'>
            Home / All Movies
        </button>
        <!-- Profile Link -->
        <button class="nav-button" routerLink='/profile'>
            Profile
        </button>
        <!-- Logout Link -->
        <button class="nav-button" routerLink='/welcome'>
            Logout
        </button>
    </div>
</div>