<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <div class="nav-container">
        <div class="logo" routerlink="/movies">
            myMovies
        </div>
        <div>
            <button class="nav-button" routerlink='/profile' style="margin-right: 5px;">Profile</button> <button class="nav-button" routerlink='/movies' style="margin-right: 5px;">All Movies</button> <button class="nav-button" routerlink='/welcome' style="margin-right: 5px;">Logout</button>
        </div>
    </div>
</body>

</html>